@import "~crmet/styles/CRMet";

.minor-element-viewer {
  border-radius: 10px;
  background-color: $button-color;
  cursor: pointer;
  font-size: 24px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  padding: 10px;

  &:hover {
    filter: brightness(90%);
  }

  .element-icon {
    max-width: 50px;
    max-height: 50px;
    padding-right: 10px;
  }
}
