# dependencies
client/node_modules
client/.pnp
.pnp.js

# production
/static
client/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

npm-debug.log*
