.element-icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.element-icon-clickable {
  &:hover {
    filter: brightness(90%);
  }
}
